In [3]:
import geopandas as gpd
import pandas as pd
import requests
import gzip
import glob
import os
import json

In [4]:
PARENT_PATH = '.\\aups\\'

# Open and check Tar file

In [5]:
tar_list = glob.glob(PARENT_PATH+'*.gz')
tar_list

['.\\aups\\pci-83-parcelle.json.gz', '.\\aups\\pci-83-tsurf.json.gz']

In [6]:
def untar_file(tar_file) :
    '''
    Untar file with based on filepath. Return a Json file
    '''
    print(tar_file)
    with gzip.open(tar_file) as f :
        filename = tar_file.split('\\')[-1].replace('.gz','')
        filepath = os.path.join(PARENT_PATH, filename)
        content = f.readlines()
        content = [line.decode('utf8') for line in content]
        #df = gpd.read_file(content)
        with open(filepath,'w') as w :
            w.writelines(content)
    return content

In [7]:
def load_geopandas(json_file) :
    '''
    Load json file. Return geopandas dataframe 
    '''
    with open(json_file) as f : 
        data = json.load(f)
        gdf = gpd.GeoDataFrame.from_features(data["features"]) # geopandas dataframe 
    return gdf

In [8]:
for tar_file in tar_list :
    if tar_file.replace('.gz', '') not in glob.glob(PARENT_PATH+'*.json') :
        r = untar_file(tar_file)

.\aups\pci-83-parcelle.json.gz
.\aups\pci-83-tsurf.json.gz

In [9]:
couches = ['parcelle',
           'tsurf'
          ]

In [10]:
json_list = glob.glob(PARENT_PATH+'*.json')
json_list

['.\\aups\\pci-83-parcelle.json', '.\\aups\\pci-83-tsurf.json']

In [11]:
parcelle = load_geopandas(json_list[0])
tsurf = load_geopandas(json_list[1])

In [94]:
parcelle.iloc[4]['geometry']

In [13]:
# Cordonn√©es des piscines

In [88]:
tsurf = tsurf[tsurf['SYM'] == '65'] # only pool 
tsurf.head()

,geometry,SYM,DATE_OBS,DATE_MAJ,TEX
3,"POLYGON ((6.84958 43.52740, 6.84957 43.52737, ...",65,2016-03-07,2016-03-18,NaN
4,"POLYGON ((6.85265 43.52664, 6.85268 43.52660, ...",65,2016-03-07,2016-03-18,NaN
5,"POLYGON ((6.85323 43.52720, 6.85320 43.52722, ...",65,2016-03-07,2016-03-18,NaN
6,"POLYGON ((6.85334 43.52655, 6.85333 43.52656, ...",65,2016-03-07,2016-03-18,NaN
7,"POLYGON ((6.85505 43.52688, 6.85503 43.52690, ...",65,2016-03-07,2016-03-18,NaN

## Joint entre les parcelles et les parcelles qui disposent de piscine

In [19]:
print(f'left df size : {len(tsurf)}', '/n', f'right df size : {len(parcelle)} ')

left df size : 106642 /n right df size : 923347

In [ ]:
inner_join_df = tsurf.sjoin(parcelle, how = 'left')

In [17]:
inner_join_df

,geometry,SYM,DATE_OBS_left,DATE_MAJ_left,TEX_left,index_right,INDP,SUPF,TEX_right,IDU,DATE_OBS_right,DATE_MAJ_right,COAR
3,"POLYGON ((6.84958 43.52740, 6.84957 43.52737, ...",65,2016-03-07,2016-03-18,NaN,3152.0,01,1542.0,1909,0010000B1909,2016-03-07,2021-11-30,NaN
4,"POLYGON ((6.85265 43.52664, 6.85268 43.52660, ...",65,2016-03-07,2016-03-18,NaN,3319.0,01,1500.0,1985,0010000B1985,2016-03-07,2021-11-30,A
5,"POLYGON ((6.85323 43.52720, 6.85320 43.52722, ...",65,2016-03-07,2016-03-18,NaN,3161.0,01,149.0,200,0010000B0200,2016-03-07,2021-11-30,NaN
5,"POLYGON ((6.85323 43.52720, 6.85320 43.52722, ...",65,2016-03-07,2016-03-18,NaN,2262.0,01,3116.0,204,0010000B0204,2016-03-07,2021-11-30,NaN
6,"POLYGON ((6.85334 43.52655, 6.85333 43.52656, ...",65,2016-03-07,2016-03-18,NaN,3163.0,01,2000.0,203,0010000B0203,2016-03-07,2021-11-30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130893,"POLYGON ((5.93901 43.13798, 5.93902 43.13794, ...",65,2008-07-29,2014-02-07,NaN,923303.0,01,400.0,175,137000EY0175,2008-02-23,2014-02-07,NaN
130894,"POLYGON ((5.94354 43.13874, 5.94355 43.13867, ...",65,2008-07-29,2014-02-07,NaN,923323.0,01,2240.0,111,137000EY0111,2008-02-23,2014-02-07,NaN
130895,"POLYGON ((5.94206 43.13858, 5.94207 43.13855, ...",65,2008-07-29,2014-02-07,NaN,923316.0,01,2330.0,109,137000EY0109,2008-02-23,2014-02-07,NaN
130900,"POLYGON ((6.39028 43.41169, 6.39023 43.41170, ...",65,2009-10-22,2018-10-22,NaN,909410.0,01,32.0,29,148000BY0029,2007-01-25,2018-10-22,NaN
130900,"POLYGON ((6.39028 43.41169, 6.39023 43.41170, ...",65,2009-10-22,2018-10-22,NaN,909411.0,01,11.0,30,148000BY0030,2007-01-25,2018-10-22,NaN

In [86]:
type(tsurf.iloc[0].geometry)

shapely.geometry.polygon.Polygon

## GOOGLE MAPS API

In [45]:
API_KEYS = 'key=AIzaSyCshJpLZumLqbStsPdU0BRRqntNHZLFjlU'

In [ ]:
def download_file(url_file, save_name = False) :
    '''
    Download and save file from an url
    '''
    if save_name == False :
        save_name = url_file.split('/')[-1]
        
    r = requests.get(url_file, stream = True)
    with open(save_name, 'wb') as f:
        for chunk in r.iter_content():
            f.write(chunk)

Param√®tres de localisation

  - center (obligatoire si aucun rep√®re n'est pr√©sent) d√©finit le centre de la carte, √† √©gale distance de tous ses bords. Ce param√®tre utilise un emplacement sous la forme d'une paire {latitude,longitude} s√©par√©e par une virgule (par exemple, "40.714728,-73.998672") ou d'une cha√Æne d'adresse (par exemple, "h√¥tel de ville, new york, ny"), identifiant un emplacement unique sur la face de la Terre. Pour en savoir plus, consultez la page Emplacements.
  - zoom (obligatoire si les rep√®res ne sont pas pr√©sents) d√©finit le niveau de zoom de la carte, qui d√©termine le niveau de grossissement de la carte. Ce param√®tre accepte une valeur num√©rique correspondant au niveau de zoom de la r√©gion souhait√©e. Pour en savoir plus, consultez Niveaux de zoom.

In [25]:
AOI = tsurf.iloc[0].geometry

In [43]:
x,y = AOI.centroid.coords.xy # center coordonate x : Longitude, y : latitude
print(x,y)

array('d', [6.84962748757885]) array('d', [43.5273750922666])

In [82]:
center = f'center={y[0]},{x[0]}'
size = 'size=300x300'
form = 'png'
maptype = 'satellite'
zoom = 'zoom=20'

In [83]:
""
url_file = f'{BASE_URL}{center}&format={form}&{size}&{zoom}&maptype={maptype}&{API_KEYS}'

In [84]:
r = requests.get(url_file, stream = True)
with open('02.png', 'wb') as f:
    for chunk in r.iter_content():
        f.write(chunk)

## Class picture = Une picture avec param√®tres n√©c√©ssaire pour g√©n√©rer une image png

In [140]:
class picture() :
    
    
    def __init__(self,_id, x,y,h,w,zoom) :
        self._id = _id
        self.x = x
        self.y = y
        self.height = h
        self.width = w
        self.zoom = zoom
        # ---
        self.API_KEY = 'AIzaSyCshJpLZumLqbStsPdU0BRRqntNHZLFjlU'
        self.BASE_URL = 'https://maps.googleapis.com/maps/api/staticmap?'
        self.form = 'png'
        self.maptype = 'satellite'
        self.filepath = f'./{self._id}_{self.height}x{self.width}.{self.form}'
        
    def api_url_generator(self):
        url = f'{self.BASE_URL}center={self.y},{self.x}&format={self.form}&size={self.height}x{self.width}&zoom={self.zoom}&maptype={self.maptype}&key={self.API_KEY}'
        return url
        
    def api_call(self, url) :
        with requests.Session() as S :
            r = S.get(url, stream = True)
        
        return r
            
    def save_picture(self) :
        url = self.api_url_generator()
        r = self.api_call(url)
        with open(self.filepath, 'wb') as f:
            for chunk in r.iter_content():
                f.write(chunk)

In [141]:
AOI = inner_join_df.iloc[0]

In [142]:
size = 'size=300x300'
h = '300'
w = '300'
zoom = '20'

In [143]:
x,y = AOI['geometry'].centroid.coords.xy # center coordonate x : Longitude, y : latitude
x,y = x[0],y[0]
_id = AOI["IDU"]
print(_id,x,y)

0010000B1909 6.84962748757885 43.5273750922666

In [149]:
for h,w in zip(['100','200','300','400','500'],['100','200','300','400','500']) :
    pic = picture(_id, x, y, h, w,zoom)
    pic.save_picture()